<main class="main">
  <div class="container">
    <h1 class="display event-title" fitText>Time {{ isComplete ? 'since' : 'to' }} {{ title }}</h1>
  </div>
  <div class="container">
    <div class="display event-countdown" fitText>{{ countdown }}</div>
  </div>

  <div *ngIf="isComplete" class="container">
    <span class="display event-countdown complete" fitText>Event has started !!</span>
  </div>

  <div class="inputs">
    <div>
      <label for="event-name">Title</label>
      <input
        [(ngModel)]="title"
        (ngModelChange)="onTitleChange($event)"
        type="text"
        class="title-input"
        id="event-name"
        aria-label="Event name"
        placeholder="Event name"
      />
    </div>

    <div>
      <label for="target-date">Date</label>
      <input
        [ngModel]="targetDate | date: 'yyyy-MM-dd'"
        (ngModelChange)="onDateChange($event)"
        type="text"
        pattern="\d{4}-\d{2}-\d{2}"
        placeholder="YYYY-MM-DD"
        class="counter-input"
        id="target-date"
        aria-label="Target date"
      />
    </div>
  </div>
</main>

<router-outlet />
